@import "base";

html{
    font-size: 62.5%;
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
body{
    font-size: $base_size;
}
section{
    padding: 50px 0;
}
.main__content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}
.heading01__title{
    display: table;
    width: 100%;
    padding: 200px 0px;
    background-color: $sub_color1;
    min-height: 100vh;
    &__text{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: $accent_size4;
        font-weight: bold;
        color: $accent_color3;
    }
}
.heading02__title{
    width: 100%;
    padding: 50px 0px;
    &__text{
        text-align: center;
        font-size: $accent_size3;
        font-weight: bold;
        color: $accent_color2;
    }
}
.profile{
    &__section{
    }
    &__content{
        &__box{
            margin: 0 auto;
            padding: 0 20px;
            &__text{
                max-width: 600px;
                margin: 0 auto;
                &:nth-child(n+2){
                    margin-top: 20px;
                }
            }
        }
    }
}
.skill{
    &__section{
    }
    &__content{
        &__box{
        }
        &__column{
            @include flex;
            &__item{
                padding: 20px;
                width: 50%;
                &__lead{
                    text-align: center;
                    font-size: $accent_size1;
                }
                &__text{

                }
            }
        }
    }
}
.work{
    &__section{
    }
    &__content{
        &__lead{
            text-align: center;
            font-size: $base_size;
        }
        &__box{
        }
    }
}
HTML, BODY {
    height: 100%;
    }

  $colors: #360745, #D61C59, #E7D84B, #EFEAC5, #1B8798;

  BODY {
    background: hsl(200,70,11);
    background-size: .12em 100%;
    font: 16em/1 Arial;
  }

  .text--line {
    font-size: .5em;
    }

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    }

  $max: 5;
  $stroke-step: 7%;
  .text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
    stroke-width: 3px;

    animation: stroke-offset 9s infinite linear;

    @for $item from 1 through $max {
      $stroke-color: nth($colors, $item);

      &:nth-child(#{$item}) {
        stroke: $stroke-color;
        stroke-dashoffset: $stroke-step * $item;
        }
      }
    }

  @keyframes stroke-offset {
    50% {
      stroke-dashoffset: $stroke-step * $max;
      stroke-dasharray: 0 $stroke-step * $max*2.5;
    }
  }