@import "base";

html{
    font-size: 62.5%;
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
body{
    font-size: $base_size;
}
section{
    padding: 100px 0 0;
}
.main__content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 45px;
}
.heading01__title{
    display: table;
    width: 100%;
    padding: 200px 0px;
    background-color: $sub_color1;
    min-height: 100vh;
    &__text{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: $accent_size4;
        font-weight: bold;
        color: $accent_color3;
    }
}
.heading02__title{
    width: 100%;
    padding: 50px 0px;
    &__text{
        text-align: center;
        font-size: $accent_size3;
        font-weight: bold;
        color: $accent_color2;
    }
}
.nizi{
    &__section{
    }
    &__content{
        &__box{
            margin: 0 auto;
            padding: 0 20px;
            &__text{
                max-width: 600px;
                margin: 0 auto;
                &:nth-child(n+2){
                    margin-top: 20px;
                }
            }
        }
    }
}

